* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #b98260;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #662c09;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    color: #fde68a;
}

.logout {
    background: #ef4444;
    padding: 8px 18px;
    border-radius: 20px;
}

.faixa-imagem {
    width: 100%;
}

.faixa-imagem img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.texto-faixa h1 {
    color: white;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.container {
    padding: 50px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    color: #662c09;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #666;
}

.btn {
    display: inline-block;
    margin: 20px 8%;
    background: #662c09;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

.btn:hover {
    background: #662c09;
}

footer {
    text-align: center;
    padding: 25px;
    background: #111827;
    color: #aaa;
    margin-top: 40px;
}
